<script>
var authMethods = [
    // ***************************
    // OAUTH2 VERIFICATION
    // ***************************
    {
        name: "OAuth 2 (three-legged)",
        selectName: "oauth2",
        arguments: [{
            name: "Authorization URL",
            verificationMethod: "verifyUrl",
            id: "authurl"
        }, {
            name: "Token URL",
            verificationMethod: "verifyUrl",
            id: "tokenurl"
        }, {
            name: "Client ID",
            verificationMethod: "verifyNonEmpty",
            id: "clientid"
        }, {
            name: "Client Secret",
            verificationMethod: "verifyNonEmpty",
            id: "clientsecret"
        }, {
            name: "Scope",
            id: "scope"
        }, {
            name: "Developer Sign-up URL",
            verificationMethod: "verifyUrl",
            help: "The URL where developers can sign-up for Client ID, Client Secret, set Callback URLs, etc.",
            id: "devurl"
        }]
    },

    // ***************************
    // OAUTH 1.0A VERIFICATION
    // ***************************
    {
        name: "OAuth 1.0A (three-legged)",
        selectName: "oauth1a",
        arguments: [{
            name: "Token Request URL",
            verificationMethod: "verifyUrl",
            id: "tokenurl"
        }, {
            name: "Authorization URL",
            verificationMethod: "verifyUrl",
            id: "authurl"
        }, {
            name: "Authorization Endpoint",
            verificationMethod: "verifyUrl",
            id: "authendpoint"
        }, {
            name: "Client Key",
            verificationMethod: "verifyNonEmpty",
            id: "clientkey"
        }, {
            name: "Client Secret",
            verificationMethod: "verifyNonEmpty",
            id: "clientsecret"
        }, {
            name: "Developer Sign-up URL",
            verificationMethod: "verifyUrl",
            help: "The URL where developers can sign-up for Client ID, Client Secret, set Callback URLs, etc.",
            id: "devurl"
        }]
    }
];

</script>
<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/components/auth-validate.html">
<link rel="import" href="/components/validated-input.html">
<dom-module id="auth-settings">
    <style>
    .invalid {
        color: var(--google-red-500);
    }
    </style>
    <template>
        <auth-validate></auth-validate>
        <select name="authType" id="authlist" on-change="authChange">
            <template is="dom-repeat" items="{{authMethods}}">
                <option value="{{item.selectName}}">{{item.name}}</option>
            </template>
        </select>
        <div id="authfields"></div>
        <br />
        <paper-button raised>Submit</paper-button>
    </template>
    <script>
    Polymer({
        is: 'auth-settings',

        ready: function() {
            this.authMethods = authMethods;
            // Convert verificationMethod string to the corresponding function... it's ugly, but it works great!
            for (var i = 0; i < authMethods.length; i++) {
                for (var k = 0; k < authMethods[i].arguments.length; k++) {
                    if (this.authMethods[i].arguments[k].verificationMethod !== undefined) {
                        this.authMethods[i].arguments[k].verificationMethod = this[this.authMethods[i].arguments[k].verificationMethod];
                    }
                }
            }
            this.authChange();
        },

        authChange: function() {
            var options = document.getElementById("authlist").getElementsByTagName("option");

            // Find out which Auth type we are using so that we can add the right inputs
            for (var i = 0; i < options.length; i++) {
                if (options[i].selected === true) break;
            }
            var selectedAuth = this.authMethods[i];
            var args = selectedAuth.arguments;
            var insertPoint = this.$.authfields;

            // Delete old children
            var child = Polymer.dom(insertPoint).firstChild;
            while (child) {
                Polymer.dom(insertPoint).removeChild(child);
                child = Polymer.dom(insertPoint).firstChild;
            }

            // Add new <paper-input> nodes
            for (var i = 0; i < args.length; i++) {
                console.log("Adding input [" + i + "]:", args[i].name);
            	var toAdd = document.createElement("validated-input");
            	console.log ("Adding name:", args[i].name);
            	toAdd.name = args[i].name;
            	toAdd.id = args[i].id;
            	console.log ("Adding validation method:", args[i].verificationMethod);
            	toAdd.validate = args[i].verificationMethod;
				Polymer.dom(insertPoint).appendChild(toAdd);

            	// // add paper-inpug
             //    var toAdd = document.createElement("paper-input");
             //    console.log("Adding input [" + i + "]:", args[i].name);
             //    toAdd.label = args[i].name;
             //    toAdd.id = args[i].id;
             //    console.log("Verification Method is:", args[i].verificationMethod);
             //    toAdd.addEventListener("blur", args[i].verificationMethod);
             //    Polymer.dom(insertPoint).appendChild(toAdd);

             //    // add span
             //    var spanAdd = document.createElement("span");
             //    var prop = args[i].id + "Valid";
             //    Polymer.dom(spanAdd).setAttribute("hidden", "{{" + prop + "}}")
             //    Polymer.dom(insertPoint).appendChild(spanAdd);
            }
        },
        // verifyUrl: function(e) {
        //     console.log("Verify URL",e);
        //     console.log("Event on",e.srcElement.id)
        //     var prop = e.srcElement.id + "Valid";
        //     this.properties[prop] = false;
        // },
        // verifyNonEmpty: function(e) {
        //     console.log("Verify Non Empty",e);
        // }
    });
    </script>
</dom-module>
