<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-list/iron-list.html">
<link rel="import" href="/bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="/bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="/bower_components/paper-material/paper-material.html">
<link rel="import" href="/bower_components/paper-item/paper-item-body.html">
<link rel="import" href="/bower_components/iron-autogrow-textarea/iron-autogrow-textarea.html">
<link rel="import" href="/components/sb-theme.html">
<dom-module id="list-item">
    <style>
    .textBox {
        min-height: 100px;
        background-color: var(--sb-theme-color1);
        word-wrap: break-word;
        white-space: normal;
    }
    </style>
    <template>
        <paper-material elevation=3 class="list">
            <paper-icon-item>
                <div class="avatar orange" item-icon></div>
                <paper-item-body two-line>
                    <div>{{name}}</div>
                    <div secondary>This is a test.</div>
                    <iron-collapse id="collapse">
                    <!-- max-rows="4" -->
                        <!-- <iron-autogrow-textarea class=".textBox" bind-value="{{desc}}" max-rows="10">
                          <textarea></textarea>
                        </iron-autogrow-textarea> -->
                        <div class="textBox">{{desc}}</div>
                    </iron-collapse>
                </paper-item-body>
                <iron-icon icon="info" on-click="doCollapse"></iron-icon>
                <a href="/service-details.html"><iron-icon icon="arrow-forward"></iron-icon></a>
            </paper-icon-item>
        </paper-material>
    </template>
    <script>
    Polymer({
        is: 'list-item',
        Properties: {
            name: {
                type: String,
                value: "NO NAME"
            },
            desc: {
                type: String,
                value: "NO DESC"
            }
        },
        doCollapse: function() {
            // console.log("doing collapse");
            // document.querySelector("#collapse").toggle()
            this.$.collapse.toggle();
        }
    });
    </script>
</dom-module>
