<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-material/paper-material.html">
<link rel="import" href="/bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="/bower_components/polymer/polymer.html">
<!-- <link rel="import" href="/bower_components/iron-fit-behavior/iron-fit-behavior.html"> -->
<dom-module id="menu-drawer">
    <style>
    .menudrawer {
        border: 1px solid black;
        width: 250px;
        height: 100%;
        /*display: block;*/
        
        background-color: blue !important;
    }
    /*html, body {margin:0;padding:0;height:100%;}*/
    
    .tall {
        height: 100%;
        display: block;
        background-color: yellow;
        max-width: 300px;
    }
    /*    html {
    height: 100%;
}
body {
	height: 100%;
}
* { padding: 0; margin: 0; }
html, body, #fullheight {
    min-height: 100% !important;
    height: 100%;
}
#fullheight {
    width: 250px;
    background: blue;
}*/
    </style>
    <template>
        <!-- <div class="menudrawer">test</div> -->
        <iron-collapse id="collapse" opened horizontal class="tall">
            <paper-material id="myDrawer" class="menudrawer layout vertical stretch" elevation="0">
                <!-- <div class="menudrawer"> -->
                <div class="tall">This is a test</div>
                <div class="tall">This is also a test</div>
                <!-- </div> -->
            </paper-material>
        </iron-collapse>
    </template>
    <script>
    Polymer({
        is: 'menu-drawer',
        created: function() {
            var collapse = document.getElementById("collapse")
        },
        toggle: function() {
            // var collapse = document.getElementById("collapse")
            // var drawer = document.getElementById("myDrawer")
            // this.style.height = "100%";
            // document.getElementById('collapse').style.height = "100%";
            // document.getElementById('drawer').style.height = "100%";

            collapse.toggle();
            // drawer.customStyle['--make-tall'] = "{ height: 100% }"
            // drawer.updateStyles();
            // collapse.customStyle['--make-tall'] = "{ height: 100% }"
            // collapse.updateStyles();
            // this.customStyle['--make-tall'] = "{ height: 100% }"
            // this.updateStyles();
            // this.refit();
        },
        // behaviors: [
        // 	Polymer.IronFitBehavior
        // ]
    });
    </script>
</dom-module>
