<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/components/profile-info.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<dom-module id="profile-page">
    <style>

    </style>
    <template>
        <!-- <profile-info on-change="profileInfoChanged"></profile-info> -->
        <iron-ajax auto url="/api/profile" handle-as="json" last-response="{{profileInfo}}"></iron-ajax>
        <iron-ajax auto url="/api/profile/service" handle-as="json" last-response="{{serviceList}}"></iron-ajax>
        <iron-ajax auto url="/api/profile/auth" handle-as="json" last-response="{{authList}}"></iron-ajax>
        <h1>Profile</h1>
        <img src="{{avatarUrl}}">
        <!-- <img src="/images/switchboard_logo1.png"> -->
        <template is="dom-if" if="{{!profileInfo.authenticated}}">
            You aren't authenticated, dummy.
        </template>
        <template is="dom-if" if="{{profileInfo.authenticated}}">
            Authenticated: <span>{{profileInfo.authenticated}}</span>
            <br /> Username: <span>{{profileInfo.user.username}}</span>
            <br /> Created: <span>{{profileCreatedDate}}</span>
            <br /> Email: <span>{{profileInfo.user.email}}</span>
            <br /> API Key: <span>{{profileInfo.user.apikey}}</span>
            <br /> ID: <span>{{profileInfo.user.id}}</span>
            <br />
            <h1>Your Authentications (<span>{{authList.length}}</span>)</h1>
            <template is="dom-repeat" items="{{authList}}" as="auth">
                <!-- <list-item name="{{auth.name}}" desc="{{auth.description}}"></list-item> -->
                Service: <span>{{auth.service}}</span><br>
                Protocol: <span>{{auth.protocol}}</span><br>
                <br>
            </template>
            <h1>Your Services (<span>{{serviceList.length}}</span>)</h1>
            <template is="dom-repeat" items="{{serviceList}}" as="service">
                <!-- <list-item name="{{service.name}}" desc="{{service.description}}"></list-item> -->
                Service: <a href="{{buildServiceUrl(service.urlName)}}"><span>{{service.name}}</span><br></a>
            </template>
        </template>
    </template>
    <script>
    Polymer({
        is: 'profile-page',

        // Sample Profile JSON
        // ===================
        // 
        // {
        //   "succes": true,
        //   "result": "success",
        //   "err": null,
        //   "msg": "Found your profile",
        //   "user": {
        //     "username": "apowers",
        //     "email": "apowers@ato.ms",
        //     "createdAt": "2015-08-01T06:48:41.200Z",
        //     "updatedAt": "2015-08-01T06:48:41.200Z",
        //     "test": 1,
        //     "apikey": "abc123",
        //     "id": "55bc6bc9a9d336078b5edf41"
        //   },
        //   "authenticated": true
        // }
        properties: {
            profileInfo: {
                type: Object,
                value: null,
                notify: true
            },
            profileCreatedDate: {
                type: String,
                notify: true,
                computed: "computeProfileCreatedDate(profileInfo)"
            }
        },

        computeProfileCreatedDate: function(pi) {
            console.log("profile info changed");
            if (!pi || !pi.user) return null;
            return new Date(pi.user.createdAt).toLocaleDateString();
        },

        buildServiceUrl: function (serviceSlug) {
            if (!serviceSlug) return null;
            return "/service-details/#!/" + serviceSlug;
        }
    });
    </script>
</dom-module>
