<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-material/paper-material.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">
<dom-module id="reading-box">
    <style>
    :host { /* top center of page */
        @apply(--layout-horizontal);
        @apply(--layout-center-justified);
        @apply(--layout-start);
        @apply(--layout-flex);
    }
    
    .formbox {
        padding: 0px 25px 25px 25px;
        margin: 10px;
        max-width: 800px;
        width: 60%;
        min-width: 300px;
        display: inline-block;
        /*@apply(--layout-flex);*/
    }
    </style>
    <template>
            <paper-material elevation="3" class="formbox">
                <content></content>
            </paper-material>
    </template>
    <script>
    Polymer({
        is: 'reading-box'
    });
    </script>
</dom-module>
