<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/components/list-item.html">
<dom-module id="service-list">
    <style>
    </style>
    <template>
        <iron-ajax auto url="/service" handle-as="json" last-response="{{serviceList}}"></iron-ajax>
        <!-- <iron-ajax auto url="/service" handle-as="json" on-response="gotResponse"></iron-ajax> -->
        <template is="dom-repeat" items="{{serviceList}}">
            <list-item name="{{item.name}}" desc="{{item.description}}"></list-item>
        </template>
    </template>
    <script>
    Polymer({
        is: 'service-list',
        properties: {
            serviceList: {
                type: Array,
            }
        },
        // gotResponse: function(e) {
        //     console.log ("Got iron-ajax response.");
        //     console.log ("Response was:", e.target.lastResponse);
        //     this.serviceList = e.target.lastResponse;
        // }
    });
    </script>
</dom-module>
