<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/components/list-item.html">
<dom-module id="service-list">
    <style>
    </style>
    <template>
        <!-- <iron-ajax auto url="/service" handle-as="json" last-response="{{serviceList}}" on-response="gotResponse"></iron-ajax> -->
        <iron-ajax auto url="/service" handle-as="json" on-response="gotResponse"></iron-ajax>
        <!-- <iron-list items="[[data]]" as="item"> -->
        <!-- <template> -->
        <template is="dom-repeat" items="{{serviceList}}">
            <!-- <div>{{item.name}}</div> -->
            <list-item name="{{item.name}}" desc="{{item.description}}"></list-item>
            <!-- <div>Testing: <div>{{item.name}}</div> -- <div>{{item.desc}}</div></div><hr/> -->
        </template>
        <!-- </iron-list> -->
    </template>
    <script>
    Polymer({
        is: 'service-list',
        properties: {
            serviceList: {
                type: Array,
                // value: [{
                //     name: "Zotero",
                //     desc: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                // }, {
                //     name: "Amazon",
                //     desc: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                // }, {
                //     name: "eBay",
                //     desc: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                // }, {
                //     name: "Microsoft Office",
                //     desc: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                // }]
            }
        },
        gotResponse: function(e) {
            console.log ("Got iron-ajax response.");
            console.log ("Response was:", e.target.lastResponse);
            this.serviceList = e.target.lastResponse;
        }
    });
    </script>
</dom-module>
