<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">

<dom-module id="validated-form-submit">
    <style>
    </style>
    <template>
        <iron-ajax id="ajaxsubmit" on-response="getResponse"></iron-ajax>
    </template>
    <script>
    Polymer({
        is: 'validated-form-submit',

        properties: {
            url: {
                type: String,
                value: "NOTSET"
            },
            contentType: {
                type: String,
                value: "application/json"
            },
            method: {
                type: String,
                value: "POST"
            },
            cb: {
                type: Function,
                value: null
            },
        },

        ready: function() {
            // TODO: this can probably be simplified using the paramaters to iron-ajax
            this.$.ajaxsubmit.url = this.url;
            this.$.ajaxsubmit.method = this.method;
            this.$.ajaxsubmit.contentType = this.contentType;
            this.$.ajaxsubmit.verbose = true;
            this.$.ajaxsubmit.response = this.testFunc;
        },

        submit: function(data, cb) {
            console.log("Submitting:", data);
            this.$.ajaxsubmit.body = JSON.stringify(data);
            this.$.ajaxsubmit.generateRequest();
            console.log ("Callback is:", cb);
            if (cb) {
                console.log ("Setting callback");
                this.cb = cb;
            }
        },

        getResponse: function(e) {
            console.log ("last response:", e.target.lastResponse);
            console.log ("Callback is:", this.cb);
            if (this.cb) {
                console.log ("Doing response callback");
                this.cb (e.target.lastResponse);
            }
        }
    });
    </script>
</dom-module>
